In [1]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
%config IPCompleter.greedy=True

In [2]:
df = pd.read_csv('monthly-data-relating-to-hotels-.csv')

In [7]:
df.head(50)

      Month Room_nights  Takings
0   1980-01      276986   7673.0
1   1980-02      260633   7472.0
2   1980-03      291551   8339.0
3   1980-04      275383   7805.0
4   1980-05      275302   7889.0
5   1980-06      231693   6619.0
6   1980-07      238829   6969.0
7   1980-08      274215   8186.0
8   1980-09      277808   8220.0
9   1980-10      299060   9074.0
10  1980-11      286629   8954.0
11  1980-12      232313   7138.0
12  1981-01      294053   8906.0
13  1981-02      267510   8490.0
14  1981-03      309739   9781.0
15  1981-04      280733   8789.0
16  1981-05      287298   9162.0
17  1981-06      235672   7430.0
18  1981-07      256449   8293.0
19  1981-08      288997   9653.0
20  1981-09      290789   9674.0
21  1981-10      321898  10841.0
22  1981-11      291834   9845.0
23  1981-12      241380   7935.0
24  1982-01      295469   9849.0
25  1982-02      258200   8977.0
26  1982-03      306102  10523.0
27  1982-04      281480   9536.0
28  1982-05      283101   9685.0
29  1982-06      237414   8067.0
30  1982-07      274834  10135.0
31  1982-08      299340  11074.0
32  1982-09      300383  11150.0
33  1982-10      340862  12616.0
34  1982-11      318794  12156.0
35  1982-12      265740   9903.0
36  1983-01      322656  11833.0
37  1983-02      281563  11135.0
38  1983-03      323461  12585.0
39  1983-04      312579  11882.0
40  1983-05      310784  11856.0
41  1983-06      262785   9966.0
42  1983-07      273754  10803.0
43  1983-08      320036  12875.0
44  1983-09      310336  12517.0
45  1983-10      342206  13770.0
46  1983-11      320052  13065.0
47  1983-12      265582  10549.0
48  1984-01      326988  12906.0
49  1984-02      300713  12928.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 3 columns):
Month          187 non-null object
Room_nights    187 non-null object
Takings        186 non-null float64
dtypes: float64(1), object(2)
memory usage: 4.5+ KB

In [9]:
df['Room_nights'] = pd.to_numeric(df['Room_nights'],errors='coerce')
df['Month'] = pd.to_datetime((df['Month']), errors='coerce')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 3 columns):
Month          186 non-null datetime64[ns]
Room_nights    186 non-null float64
Takings        186 non-null float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 4.5 KB

In [13]:
df.dropna(axis=0, inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186 entries, 0 to 185
Data columns (total 3 columns):
Month          186 non-null datetime64[ns]
Room_nights    186 non-null float64
Takings        186 non-null float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 5.8 KB